<div class="flex text-center bg-secondary text-3xl font-bold pl-4 py-3 justify-between bg-opacity-25">
    <div class="flex mx-4">
      <p class="text-accent">Binge Sesh</p>
      <input type="text" placeholder="Search" class=" focus:border-accent text-text-100 text-xl bg-background border border-secondary rounded-lg mx-4  px-2 text-text placeholder:text-secondary">
    </div>
    
    <div>
      <button class="text-text-100 text-xl bg-secondary rounded-lg mx-2 py-1 px-2 text-background hover:bg-blend-multiply">
        Login 
      </button>
      <button class="text-text-100 text-xl bg-secondary rounded-lg mx-2 py-1 px-2 mr-4 text-background">
        Sign Up 
      </button>
    </div>
    
  </div>
